#body {
  background-color: #ff704d;
}
#buttons {
  margin-top: 10px;
  display: grid;
  justify-content: center;

  grid-gap: 10px;
  grid-template-columns: 100px 100px 100px 100px;
}
#ac-show {
  margin-top: 10px;
  display: grid;
  justify-content: center;

  grid-gap: 10px;
  grid-template-columns: 100px 320px;
}
.operators-buttons {
  font-size: 90px;
  background-color: #6699ff;
  display: block;
  height: 100px;
  width: 100px;
  text-align: center;
}

.number {
  font-size: 90px;
  display: block;
  height: 100px;
  width: 100px;
  text-align: center;
}
#display {
  display: block;
  background-color: yellow;
  height: 100px;
  width: 320px;
  text-align: right;
  font-size: 90px;
}
#clear {
  font-size: 30px;
  display: block;
  height: 100px;
  width: 100px;
  text-align: center;
  padding: 1.5em;
}
